[user]
	name = Rocktim Saikia
	email = rocktimthedev@gmail.com
[color]
	ui = true
[core]
	editor = nvim
[init]
	defaultBranch = main

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
